<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>ListMate</title>
  </head>

  
  <body>
    <section id="header">
      <header class="d-flex justify-content-left py-3">
        <div class="container d-flex justify-content-between align-items-center py-1">
          <div class="dropdown">
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <button class="shadow  rounded-circle border border-black p-1">
                <img src="/<%= user.username %>/image" alt="default" height="50" width="50"  class="rounded-circle">
              </button>
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" >Profile</a></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
              <li><a class="dropdown-item" href="#">hehe</a></li>
            </ul>
          </div>

          <div class="lists dropdown shadow">
            <button class="w-100 btn dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Show Lists
            </button>
            <ul class="dropdown-menu w-100">
              <li>
                <form action="/<%= user.username %>/newList" method="post" class="d-flex gap-1">
                  <input type="text" name="newList" placeholder="Add new list" class="flex-grow-1">
                  <input type="submit" value="+">
                </form>
              </li>
              <li> <a class="dropdown-item" href="/<%= user.username %>">Today</a></li>
              <% lists.forEach((list) =>{ %>
                <form action="/<%= user.username %>/deleteList" method="post" class="d-flex border justify-content-between">
                  <li> <a class="dropdown-item" href="/<%= user.username %>/lists/<%= list.name %>"><%= list.name %></a></li>

                  <button type="submit" class="bg-transparent border-0" name="listName" value="<%= list.name %>"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0  0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                  </svg></button>   
                </form>
              <% }) %>
            </ul>
          </div>
        </div>
      </header>
    </section>  
    <section id="main">       

